<!--

<table class='table'>
  <thead>
    <tr class="success">

      <th>Title</th>
      <th>Address</th>
      <th>Description</th>
      <th>Price</th>

      <th colspan="3"></th>
    </tr>
  </thead> -->

<br>

<div class="tablehover">

  <% @rentables.each do |rentable| %>
  <div class="test">

  <div class="floatinitial">
   <%= image_tag rentable.picture.url(:medium) %>

 </div>


 <div class="hiddenfloat">
  <p>
  <%= rentable.title %>  <br>
  <%= rentable.address %> <br>
  <%= rentable.description %> <br>
  <%= rentable.price %> <br> <br>
  <%= link_to 'Show', rentable %>
  <%= link_to 'Edit', edit_rentable_path(rentable) %>
  <%= link_to 'Destroy', rentable, method: :delete, data: { confirm: 'Are you sure?' }%>
  </p>
</div>

<!--  remplacer par une autre div... -->

</div>
<% end %>
</div>
